<div class="container col-md-12 mt-5 mb-5 text-center" *ngIf="!user">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="container-fluid col-md-12 mt-3" *ngIf="user">
  <div>
    <div *ngIf="user && user.image" class="nav-item float-left">
      <div class="detail_user_mask">
        <img src="{{ url + 'api/user/avatar/' + identity.image }}" class="detail_user_nav" />
      </div>
    </div>
    <div class="float-left ml-3">
      <h1>{{user.name + ' ' + user.surname}}</h1>
      <p [innerHTML]="user.description"></p>
    </div>
    <div class="clearfix"></div>
  </div>
  <hr/>

  <div class="container col-md-12 mt-5 mb-5 text-center" *ngIf="!posts">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="alert alert-danger col-md-5 mt-3" *ngIf="posts && posts.length == 0">
    No hay entradas!
  </div>

  <app-post-list [posts]="posts" [identity]="identity" [url]="url" (eliminar)="deletePost($event)"></app-post-list>
</div>
