<div class="container col-md-12 mt-5 mb-5 text-center" *ngIf="!category">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="container-fluid col-md-12 mt-3" *ngIf="category">
  <h1>{{category.name}}</h1>
  <hr/>

  <div class="container col-md-12 mt-5 mb-5 text-center" *ngIf="!posts">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="alert alert-danger col-md-5 mt-3" *ngIf="posts && posts.length == 0">
    No hay entradas!
  </div>

  <app-post-list [posts]="posts" [identity]="identity" [url]="url" (eliminar)="deletePost($event)"></app-post-list>
</div>
